* {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.main {
  background-image: linear-gradient(to right, #999 0% 32%, #e5e5e5 32% 100%);
  margin: auto;
  max-width: 100%;
  height: 100vh;
}

.header {
  border-color: rgb(38, 29, 114);
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-weight: 500;
}

.header__items {
  width: 32%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.07em;
  padding: 4vh 0 0 3.6vw;
  line-height: 24px;
}

.header__language {
  padding: 4.7vh 1.7vw 0 0;
}

.header__language-icon {
  display: inline-block;
  transform: rotate(-45deg);
  font-size: 11px;
}

.nav {
  width: 6.39vw;
  height: 6.39vw;
  background-color: rgba(0, 0, 0, .05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__icon {
  width: 2.4vw;
  height: 0.9vw;
  border-top: 0.24vw solid #000;
  border-bottom: 0.24vw solid #000;
}

